{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patient Registration</title>
  <link rel="stylesheet" href="{% static 'patient.css' %}">
</head>
<body>
  <h1>Patient Registration Form</h1>
<div class="whole">
  <form action="/patients/register/" method="post">
    {% csrf_token %}
    <label for="name">Full Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" required><br><br>

    <label for="gender">Gender:</label><br>
    <select id="gender" name="gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select><br><br>

    <label for="contact">Contact Number:</label><br>
    <input type="text" id="contact" name="contact" required><br><br>

    <label for="address">Address:</label><br>
    <textarea id="address" name="address" rows="3" cols="30"></textarea><br><br>

    <button type="submit">Register</button>
  </form>
  </div>
  <a href ={% url 'home'%}>Home<a/>
</body>
</html>
